@use '../../_partials/_config.scss' as *;

#container_fiquePorDentro a, .container_noControle a, #container_developer_name a {
  animation: showFiquePorDentro 500ms 500ms forwards;
  width: 100%;
  margin-top: 0;
  opacity: 0;

  text-align: center;
  background: $cor-4;
  padding: 1.25rem 1.75rem;
  font-family: $fonte-2;
  font-size: 1.25rem;
  font-weight: 300;
}

#container_developer_name a {
  font-size: 3rem;
  opacity: .6 !important;
  font-weight: normal;
  letter-spacing: 1.2px;
  font-family: $fonte-1;
  background: none;
}